@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

.container {
    height: 100vh;
    font-family: 'Lato', sans-serif;
}



.scoreboard-block {
    display: none;
    position: absolute;
    height: 40.8vh;
    width: 40vh;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    right: 45px;
    border-width: 3px;
    border-style: solid;
    border-color: rgb(107, 107, 107);
    top: 260px;
    box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.15);
}



.scoreboard-header {
    position: relative;
    width: 100%;
    height: 6vh;
    border-radius: 10px;
    background: linear-gradient(to top, #000000, #162a44);
}



.scoreboard-header > p {
    font-weight: bold;
    color: grey;
    padding: 1.8vh;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.8vh;
}

#wrapper {
    text-align: center;
  }

#jobs {
    font-family: 'Barlow Condensed', sans-serif;
	padding-right:20px;
    height: 1.2vw;
    font-size: 1.8vh;
    width: fit-content; 
    margin-top:5px;
    border-width: 1px;
    text-align: center;
    position: relative;
    display: inline-block;

}

.jobs p {
    font-family: 'Barlow Condensed', sans-serif;
    position: relative;
    text-align: center;
    display: inline-block;
    
}



.scoreboard-info {
    position: relative;
    height: 30vh;
    width: 36vh;
    background:rgba(36, 36, 36, 1.0);
    border-radius: 15px;
    border-width: 0.8px;
    border-style: solid;
    border-color: white;
    top: 42%;
    transform: translateY(-50%);
    margin: 0 auto;
}

.scoreboard-info-header {
    position: relative;
    height: 2vh;
}

#info-tab-label {
    position: absolute;
    font-family: 'Josefin Sans', sans-serif;
    left: 1vh;
    font-weight: bold;
}

.info-beam-title {
    position: absolute;
    font-family: 'Alatsi', sans-serif;
    font-size: 1.4vh;
    font-weight: lighter;
    letter-spacing: 0.1vh;
    left: 1vh;
    line-height: 4.8vh;
}

#status-tab-label {
    position: absolute;
    font-family: 'Josefin Sans', sans-serif;
    right: 3vh;
    font-weight: bold;
}

.info-beam-status {
    position: absolute;
    font-family: 'Josefin Sans', sans-serif;
    right: 3vh;
    line-height: 4.8vh;
    float: left;
    text-align: left;
}

.scoreboard-info-beam {
    position: relative;
    height: 5vh;
    border-radius: 15px;
    width: 100%;
}

.fa-times {
    color: rgb(170, 27, 27);
}

.fa-check {
    color: rgb(59, 141, 49);
}

.fa-clock {
    color: rgb(255, 190, 50);
}

.sb-logo {
    width: 15vh; 
    position: relative;
    margin-top: 2%;
    margin-left: 60%;
}

.nk-logo {
    width: 25vh;
    position: absolute;
    margin-top: 1%;
    margin-left: -95%;
}

